<!DOCTYPE html>
<!-- NOTE: login page for testing security-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
</head>

<body>
	<h1> Creating new user</h1>
	<div th:if="${param.error}">
		Invalid username and password.
	</div>
	<form th:action="@{/users}" th.object="${User}" method="post">
		<label for="Email">Email: </label>
		<input type="text" id="Email" th:field="*{email}" /> <br />

		<label for="Username">Username: </label>
		<input type="text" id="Username" th:field="*{username}" /> <br />

		<label for="password">password: </label>
		<input type="text" id="password" th:field="*{password}" /> <br />
		<button type="submit"> Submit </button>
	</form>
</body>

</html>
